@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.header
{
    color: #fff;
    width: 100%;
    /* height: 9vh; */
    height: 5rem;
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
    

    transition: background-color 0.3s;
}

.header__nav
{
    width: 85%;
    /* height: inherit; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo
{
    margin-top: 0.5rem;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.header__menu
{
    width: 40%;
    max-width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.header__menu-icon
{
    font-size: 2.8rem;
    cursor: pointer;
}


.header--background
{
    color: #000;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 2px 0px #000;
}

.header__list
{
    position: fixed;
    z-index: 99;
    top: 100%;
    right: 0;    



    list-style-type: none;
    background-color: rgb(192, 192, 192);
    color: #000;
    width: 50%;
    min-width: 20rem;
    max-width: 40rem;
    height: 100vh;
    transition: top 0.3s;
}

.header__list--visible
{
    top: 5rem;
}

.header__item
{
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    /* border-bottom: 2px solid #000; */
    width: 100%;
    padding: 1rem 10%;
    /* margin: auto; */
}

.header__item:hover
{
    background-color: rgb(152, 152, 152);;
}

.menu__icon
{
    margin-right: 1rem;
    padding: 0.2rem 1rem 0.2rem 0;
    border-right: 2px solid #000;
}























.web-container
{
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-flow: column nowrap;
}








.invitation
{
    width: 100%;
    background-color: #279DB7;
    color: #ddd;
    padding: 4rem 0;
    padding-top: 8rem;
}

.invit__title-container
{
    width: 90%;
    max-width: 67rem;
    margin: auto;
    margin-bottom: 4rem;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.invit__title
{
    font-family: "Lobster", sans-serif;
    letter-spacing: 3px;
    font-size: 4rem;
    max-width: 25rem;
    margin: auto;
    text-align: center;
    transform: rotate(-2deg);

    text-shadow: 3px 3px 0px #707070;
    animation: 1s linear 0s infinite alternate invit-title;
}

.invit__subtitle
{
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    width: 90%;
    max-width: 20rem;
    margin: 2rem auto;
    text-align: center;
}

.invit__subtitle--span
{
    font-size: 2.4rem;
    letter-spacing: 2px;
    font-weight: 800;
    /* margin-bottom: 0.1rem; */
}

.invit__img    
{
    width: 15rem;
    display: block;
    margin: auto;
    filter: drop-shadow(6px 8px 0px #0b2d34);
}

.invit__img-container
{
    margin: 2rem 0;
}

.invit__day
{
    width: 65%;
    max-width: 23rem;
    margin: 2rem auto;
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border: 2px #fff;
    border-style: dashed none dashed none;
}

.invit__date
{
    max-width: 11rem;   
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 2rem;
    /* text-align: center; */
    /* padding-right: 2rem; */
}

.invit__date-span
{
    letter-spacing: 0px;
}

.invit__hour
{
    font-size: 1.4rem;
    padding-left: 2rem;
    border-left: 2px solid #fff;
}

.invit__place
{
    width: 100%;
    text-align: center;
    
}

.invit__place-icon
{
    margin-right: 1rem;
}

.invit__place-title
{
    font-size: 2rem;
    text-shadow: 3px 3px 0px #383838;
    padding: 0 1rem;
}

.invit__instagram
{
    /* text-decoration: none; */
    color: #fff;
    display: block;
    font-size: 1.5rem;
    width: 85%;
    margin: auto;
    margin-top: 2rem;
}

.invit__instagram:hover
{
    color: rgb(230, 182, 64);
}




















.welcome
{
    width: 100%;
    /* height: 100vh; */
    /* height: ma; */
    padding: 4rem 2rem;
    padding-top: 20vh;

    background-image: url("./welcome.jpeg");
    background-color: #000000a7;
    background-blend-mode: soft-light;
    background-size: cover;
    background-position: center;
    color: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.welcome__greeting
{
    max-width: 40rem;
    flex-grow: 1;
    text-align: center;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcome__logo
{
    min-width: 18rem;
    max-width: 40rem;
    flex-grow: 2;
    font-size: 3rem;
    margin: 4rem 0;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome__title
{
    max-width: 30rem;
    text-shadow: 4px 2px 0px #494949;
}

.welcome__subtitle
{
    font-size: 1.8rem;
    margin-top: 2rem;
    color: rgb(255, 215, 0);
    color: #daa520;
    text-shadow: 0px 0px 3px #e7b023;
    
}

.welcome__logo-text
{
    text-shadow: 4px 2px 0px #b3b3b3;
    color: #232323;
    padding: 3rem;
    background-color: #e9e9e9;
    box-shadow: 6px 6px 0px 0px #b3b3b3;
}

.proposal
{
    background-color: #101010;
    color: #fff;
    width: 100%;
    padding: 5rem 3rem;
    min-height: 30vh;
    max-height: max-content;





    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.proposal__temporal-title
{
    width: 90%;
    max-width: 18rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 4rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    
}

.proposal__introductory
{
    background-color: #292929;
    box-shadow: 4px 4px 0px 2px #191919;
    padding: 2rem 2rem;
}

.proposal__int-paragraph
{
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    border: 1px #fff;
    text-shadow: 4px 2px 0px #8b8b8b;
    border-style: dashed none dashed none;
    padding: 0.6rem 0;
    text-align: center;
}










.gallery
{
    width: 100%;
    height: max-content;
    background-color: #e9dce7;
    padding: 2rem 0;
}

.gallery__introductory
{
    width: 90%;
    max-width: 35rem;
    margin: 4rem auto;
    padding: 0 2rem;
}

.gallery__title
{
    margin-bottom: 1.7rem;
    font-size: 1.8rem;
}

.gallery__subtitle
{
    font-size: 1.3rem;
}

.gallery__container
{
    width: 100%;
    min-height: 20vh;





    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery__advice
{
    width: 80%;
    font-size: 1.8rem;
    font-weight: 900;
    border-bottom: 2px solid #000;
    padding-bottom: 0.5rem;
}


.menu__important
{
    font-size: 2.4rem;
    cursor: pointer;
    margin-right: 1rem;

    position: relative;
    animation: 1s linear 0s  infinite alternate header-star;
}

.gallery__container
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-auto-rows: 23rem;
    max-width: 80rem;
    margin: auto;
    gap: 4px;
}

.gallery__grid-item
{
    width: 100%;
    height: 100%;
}

.gallery__img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.last-item
{
    grid-column-start: 1;
    grid-column-end: 3;
}








.collaboration
{
    width: 100%;
    padding: 4rem 0;
    background-color: #eaeaea;
}

.collaboration__content
{
    width: 90%;
    max-width: 40rem;

    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 1rem;
}

.collab__x
{
    /* width: 1rem; */
    text-align: center;
    margin: 4rem 0;
}

.collab__person-info
{
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.person-img
{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
    /* filter: drop-shadow(0px 0px 0px #000); */
    border: 4px solid #000;
}

.vero-img
{
    border-color: #9f9;
}

.jesus-img
{
    border-color: #59f;
}

.collab__link
{
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
}


.collab__wallpaper
{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    height: 600px;
    background-image: url("./dreamteam.jpeg");
    background-size: cover;
    background-position: 0px -200px;
    background-color: #00000092;
    background-blend-mode: soft-light;

    display: flex;
    align-items: center;
    justify-content:center;
}

.collaboration__wallpaper-container
{
    width: 100%;

    background-color: #b79a07;
}

.collab__title
{
    width: 80%;
    max-width: 35rem;
    margin: auto;
    margin-top: 36rem;
    text-align: center;
    color: #eee;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 2px;
    text-shadow: 0px 3px 0px #878787;
    border-bottom: 2px solid #eee;

    animation: 1s ease-in 0s infinite alternate dreamteam;
}

.collab__main-title
{
    text-align: center;
    padding: 0 1rem;
    font-size: 2rem;
    letter-spacing: 2px;
}


















.footer
{
    width: 100%;
    padding: 2rem 0;
    /* min-height: 600px; */
    border-top: 30px solid #161616;
    background-color: #1f1f1f;
}

.footer-container
{
    padding: 5rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 85%;
    margin: auto;
    max-width: 1200px;
}

.logo-img   
{
    width: 70px;
}

.text-img
{
    width: 240px;
}

.logo
{
    margin: auto;
}

.social-media
{
    color: white;
    /* width: 40%; */
    margin: auto;
    margin-top: 6rem;
    /* padding: 0 4rem; */
    /* padd */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-media__title
{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-bottom: 3px solid #e6e6e6;
}

.social-icons-container
{
    margin-top: 40px;
    display: grid;
    grid-template-areas: 
    "uno dos"
    "tres cuatro"
    ;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    gap: 40px;
}

.social-icon-container
{
    background-color: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;
}

.social-icon
{
    font-size: 30px;
}

.social-icon--discord
{
    font-size: 26px;
}

.social-icon-container:hover
{
    background-color: white;
}

.social-icon-container:hover > .social-link
{
    color: #161616;
}

.social-link
{
    text-decoration: none;
    color: white;
}

.copyright
{
    display: inline-block;
    width: 90%;
    margin: auto;
    height: 12%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #515151;
    font-weight: 700;
    letter-spacing: 5px;
    border-top: 3px solid #161616;
    padding-top: 20px;
}

@media (max-width: 750px)
{
    .footer-container
    {
        flex-direction: column;
    }

    .logo-img   
    {
        width: 40px;
    }
    
    .text-img
    {
        width: 140px;
    } 

    .copyright
    {
        font-size: 1rem;
    }

    .social-media__title
    {
        font-size: 25px;
    }

    .social-icon
    {
        font-size: 20px;
    }

    .social-icon--discord
    {
        font-size: 18px;
    }

    .collab__wallpaper
    {
        background-position: center;
    }
}

@media (max-width: 330px) 
{
    .collaboration__content
    {
        flex-flow: column nowrap;
    }    
}

@keyframes header-star 
{
    from
    {
        transform: translateY(2px);
        color: gold;
    }

    to
    {
        transform: translateY(-2px);
        color: rgb(193, 146, 28);
    }
}

@keyframes invit-title 
{
    from
    {
        transform: scale(1.05);
    }    
    to
    {
        transform: scale(1);
    }
}

@keyframes dreamteam 
{
    from
    {
        transform: translateY(-6px);
    }    
    to
    {
        transform: translateY(6px);
    }
}


